#!/bin/sh

set -ex

rm -f POST_test_ver_@case_num@.out
$1 < POST_test_ver_@case_num@.cmd
grep -v DATE POST_test_ver_@case_num@.out.orig | grep -v "echo of FAV" > POST_test_ver_@case_num@.without_date.out.orig
grep -v DATE POST_test_ver_@case_num@.out | grep -v "echo of FAV" > POST_test_ver_@case_num@.without_date.out
numdiff -r 0.05 POST_test_ver_@case_num@.without_date.out.orig POST_test_ver_@case_num@.without_date.out
